{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="Search" />
    {{ form_end(form) }}

    <h1>Books list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Publication date</th>
                <th>Authors</th>
                <th>Image</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for book in books %}
            <tr>
                <td><a href="{{ path('books_show', { 'id': book.id }) }}">{{ book.id }}</a></td>
                <td>{{ book.title }}</td>
                <td>{{ book.description }}</td>
                <td>{% if book.publicationDate %}{{ book.publicationDate|date('Y-m-d') }}{% endif %}</td>
                <td>
                    {% for author in book.authors %}
                        {{ author.name }}<br>
                    {% endfor %}
                </td>
                <td><img src="{{asset('uploads/images/' ~ book.image) }}" style="height: 100px; width: 100px"></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('books_show', { 'id': book.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('books_edit', { 'id': book.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('books_new') }}">Create a new book</a>
        </li>
    </ul>
{% endblock %}
